@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(234, 203, 173);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Stack Sans Notch", sans-serif;
}

.navbar {
    background-color: rgb(176, 112, 15);
    align-items: center;
    justify-content: center;
    color: rgb(91, 7, 86);
    height: 50px;
    display: flex;
}

.h2 {
    text-align: center;
    margin-top: 50px;
    color: rgb(91, 7, 86);
}

.container {
    background-color: rgb(176, 112, 15);
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin: 0px auto;
    padding: 20px 0;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 10px 15px, 0 10px 50px rgba(0,0,0,0.2);
}

.num {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: rgb(91, 7, 86);;
}

.button {
    margin-top: auto;
}

.button button {
    padding: 8px 15px;
    font-size: 16px;
    margin: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color:rgb(70, 65, 70);
    color: rgb(176, 112, 15);
    box-shadow: 3px 3px 6px black;
    flex-wrap: wrap;
}

.button button:hover{
    background-color:  rgb(91, 7, 86);
}

footer {
    margin-top:auto;
    text-align: center;
    font-size: 15px;
    padding: 15px 0;
    background-color: black;
    color: rgb(176, 112, 15)
}

@media(max-width:600px){
    .num {
        font-size: 1.5rem;
    }
    .button button {
        font-size: 14px;
        padding: 6px 10px;
    }
    .container {
        padding: 15px 0;
    }
}

.lap-list{
    list-style:none; 
    margin-top:15px; 
    font-size:18px; 
    color:black;
}

.lap-container {
    background-color: rgb(234, 203, 173);
    margin: 15px auto 0 auto;
    padding: 10px;
    border-radius: 10px;
    max-height: auto; 
    overflow-y: auto;
    width: 90%;
    box-shadow: 3px 3px 6px black;
}

.lap-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lap-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(70,65,70,0.3);
    font-size: 16px;
    color: rgb(70, 65, 70);
}

.lap-item:last-child {
    border-bottom: none;
}

.lap-no {
    font-weight: bold;
    margin-right: 10px;
}

.lap-time {
    font-family: monospace;
}


